<div class="container-fluid">
  <form [formGroup]="workerForm">
    <div class="form-group">
      <label for="workername">Имя <span class="red_star">*</span></label>
      <input
        type="text"
        class="form-control"
        id="workername"
        [patterns]="textPattern"
        mask="R*"
        placeholder="Имя"
        formControlName="name"
      />
    </div>
    <div class="form-group">
      <label for="workersurname">Фамилия <span class="red_star">*</span></label>
      <input
        type="text"
        class="form-control"
        id="workersurname"
        [patterns]="textPattern"
        mask="R*"
        placeholder="Фамилия"
        formControlName="surname"
      />
    </div>
    <div class="form-group">
      <label for="workerpatronymic">Отчество <span class="red_star">*</span></label>
      <input
        type="text"
        class="form-control"
        id="workerpatronymic"
        [patterns]="textPattern"
        mask="R*"
        placeholder="Отчество"
        formControlName="patronymic"
      />
    </div>
    <div class="form-group">
      <label for="workerphone">Номер телефона <span class="red_star">*</span></label>
      <input
        type="text"
        class="form-control"
        id="workerphone"
        mask = {{phoneMask}} 
        prefix="+7"
        [dropSpecialCharacters]="false"
        placeholder="Введите номер телефона..."
        formControlName="phone_number"
      />
    </div>
    <div class="form-group">
      <label for="workeremail">E-mail <span class="red_star">*</span></label>
      <input
        type="text"
        class="form-control"
        id="workeremail"
        placeholder="Введите почту..."
        formControlName="email"
      />
    </div>
    <div class="form-group">
      <label for="workerbirth">Дата рождения <span class="red_star">*</span></label>
      <input
        type="date"
        class="form-control"
        id="workerbirth"
        placeholder="Введите дату рождения..."
        formControlName="birthdate"
      />
    </div>

    <div class="form-group">
      <label for="workerbirth">Отдел сотрудника <span class="red_star">*</span></label>
      <select class="custom-select" formControlName="workplace">
        <option [ngValue]="myWorkerPlace.it">IT отдел</option>
        <option [ngValue]="myWorkerPlace.sales">Отдел продаж</option>
        <option [ngValue]="myWorkerPlace.delivery">Отдел доставки</option>
        <option [ngValue]="myWorkerPlace.legal">Юридический отдел</option>
      </select>
    </div>




    <button class="btn btn-primary mr-4" [disabled]="workerForm.invalid" (click)="onSave()">
      Сохранить
    </button>
    <button class="btn btn-danger" *ngIf="id != null" (click)="onDelete()">Удалить</button>
  </form>
</div>
